In [8]:
import numpy as np
import pandas as pd
from collections import Counter

In [2]:
#working in local machine
Data_PATH = r"..\data\processed\onehot_2.pkl"
#working in codespace
# Data_PATH = r"/workspaces/stackoverflowDeveloper/data/processed/onehot_2.pkl"

EXPORT_PATH = r"..\data\processed\onehot_2.pkl"

TECH_COL = ["MiscTechWorkedWith", "NEWCollabToolsWorkedWith", "DatabaseWorkedWith", "WebframeWorkedWith", "LanguageWorkedWith", "PlatformWorkedWith"]
JOB_COL = "DevType"
COL_READ = TECH_COL +[JOB_COL]

In [3]:
df = pd.read_pickle(Data_PATH)
df.head()

  MiscTechWorkedWith                                                      \
                .NET .NET Core Ansible Apache Spark Chef Cordova Flutter
0                  1         1       0            0    0       0       0
1                  0         0       0            0    0       0       0
2                  0         0       0            0    0       0       0
3                  0         0       0            0    0       0       0
4                  0         0       1            0    0       0       0

                        ...           DevType                          \
  Hadoop Keras Node.js  ... Developer, mobile Educator Engineer, data
0      0     0       0  ...                 0        0              0
1      0     0       0  ...                 1        0              0
2      0     0       0  ...                 0        0              0
3      0     0       0  ...                 0        0              0
4      0     0       0  ...                 0        0              0

                                                  \
  Engineer, site reliability Engineering manager
0                          0                   0
1                          0                   0
2                          0                   0
3                          0                   0
4                          0                   0

                                                             \
  Marketing or sales professional Product manager Scientist
0                               0               0         0
1                               0               0         0
2                               0               0         0
3                               0               0         0
4                               0               0         0


  Senior executive/VP System administrator
0                   0                    0
1                   0                    0
2                   0                    0
3                   0                    0
4                   0                    0

[5 rows x 124 columns]

In [7]:
def get_skills_names(dataFrame):
    #Make a skills list 
    skills = []
    job_mask = dataFrame[("DevType", "Educator")]==1  #Educator or any job as all jobs has the same columns
    for tech_col in TECH_COL:
        skills = skills + list(dataFrame.loc[job_mask][tech_col].columns)

    return skills

skills = get_skills_names(df)
skills[:10]

['.NET',
 '.NET Core',
 'Ansible',
 'Apache Spark',
 'Chef',
 'Cordova',
 'Flutter',
 'Hadoop',
 'Keras',
 'Node.js']

In [15]:
jobs = list(df["DevType"].columns)
jobs[:10]

['Academic researcher',
 'Data or business analyst',
 'Data scientist or machine learning specialist',
 'Database administrator',
 'Designer',
 'DevOps specialist',
 'Developer, QA or test',
 'Developer, back-end',
 'Developer, desktop or enterprise applications',
 'Developer, embedded applications or devices']